
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{   
  width: 100%;
  background: #e6e6e6;
  user-select: none;
  font-family: 'Roboto Mono', monospace;
}
span
{
  padding: 15px 0;
  font-size: .8em;
  color: #413932;
}
a
{
  color: #519fad;
}
div{
  padding: 10px;
}
li
{
  color: #E91E63;
  padding:7px;
  list-style: none;
}
.container
{
  background-color: #e6e6e6;
  margin:0 6%;
  text-align:left;
}
.courses
{
  background-color: #FB4F28;
  font-size: 2em;
  text-align: center;
  color:#413932;
  margin-bottom: 30px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
.address
{
  padding:15px;
  font-size: 1.5em;
  color: #24292E;
  position: relative;
  top :27px;
}

.box
{
  background-color: #fbfbfb;
  padding:30px;
  font-size:1.2em;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
@media screen and (min-device-width: 768px) {
.container
{
  margin:0 15%;
}
}